@import "../../styles/partials/variables";
@import "../../styles/partials/breakpoints";
@import "../../styles/partials/mixins";
.box {
  position: relative;
  top: 290px;
  width: 100px;
  height: 100px;
  background-color: red;
  //position: relative;
  @include mymove;
}

.works {
  position: relative;
  top: 120px;
  padding-bottom: 80px;
  padding-left: 1rem;
  padding-right: 1rem;
}
