@import "../../styles/partials/variables";
@import "../../styles/partials/breakpoints";
@import "../../styles/partials/mixins";
.box {
  position: relative;
  top: 290px;
  width: 100px;
  height: 100px;
  background-color: red;
  //position: relative;
  @include mymove;
}

.works {
  position: relative;
  top: 120px;
  padding-bottom: 80px;
  padding-left: 10%;
  padding-right: 10%;
  @include tablet {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  @include desktop {
    max-width: 1200px;
    margin: 0 auto;
  }
}

h1 {
  @include tablet {
    font-size: 2.6em !important;
  }
}
