@import "../../styles//partials/variables";
@import "../../styles/partials/breakpoints";

.hero {
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/images/header.jpg");
  background-size: cover;
  //background-position: center;
  height: 100vh;
  width: 100%;
  //position: relative;
  overflow-y: hidden;
  @include tablet {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6));
    display: flex;
    position: relative;
    //background-color: transparent;
    top: 90px;
  }
}

.video-overlay {
  //opacity: 0.3;
  // display: none;
  // @include medium {
  //   display: flex;
  //   position: relative;
  //   background-image: rgba(0, 0, 0, 0.5);
  //   width: 100%;
  //   height: 100vh;
  //   top: 90px;
  //   opacity: 0.8;
  //   z-index: 0;
  //   overflow: hidden;
  // }
}

#mainVid {
  display: none;
  @include tablet {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    position: absolute;
    top: 90px;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    z-index: -1;
  }
  //background-size: cover;
  //z-index: -1;
  //background-repeat: no-repeat;
}

.hero {
  &__text-container {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1rem 1rem;
    position: absolute;
    width: fit-content;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    //border: 0px solid none;
    outline: none;
    border-radius: 1rem;
  }
  &__title {
    font-size: 3rem;
    font-weight: 600 !important;
    color: $white;
    //text-align: center;
  }
  &__tagline {
    font-weight: 900;
    color: $white;
    //text-align: center;
  }
}

.btn {
  border-radius: 1rem;
  &:hover {
    font-weight: bolder;
    background-color: $white;
    color: black;
  }
}

.icon {
  &__react {
    // color: white;
    &:hover {
      //font-weight: bolder;
      //background-color: $white;
      // color: black;
    }
  }
}
