@import "../../../src/styles/partials/variables";

.navbar-collapse {
  place-content: flex-end !important;
}

.navbar {
  position: -webkit-sticky;
  //position: sticky;
  top: 0;
  width: 100%;
  //display: flex;
  //position: fixed;
  //width: 100%;
  //background-color: $black;
  z-index: 10;
}
