@import "../../../src/styles/partials/variables";
@import "../../../src/styles/partials/breakpoints";

.navbar-collapse {
  place-content: flex-end !important;
}

.navbar {
  position: -webkit-sticky;
  top: 0;
  width: 100%;
  z-index: 10;
  padding: 1rem !important;
}

.navbar-brand {
  margin-right: 0rem;
}
.nav {
  &__logo {
    font-weight: 900;
    font-size: 1.6rem;
    margin-right: 0px;
    @include tablet {
      font-size: 2rem;
    }
  }
  &__text {
    font-size: 1.1rem;
  }
}

.mr-auto {
  margin-right: 0px !important;
}
