@import "../../styles//partials/variables";

.card {
  //background-color: rgba(0, 0, 0, 0.4) !important;
  border: 0px transparent solid;
  &__image {
    width: 100% !important;
  }
  &__tools {
    display: flex;
    align-items: center;
  }
  &__link {
    font-size: 1.6rem;
  }
  &__icon {
    margin-right: 0.5rem;
  }
}

a {
  color: $white;
}
.icon {
  font-size: 1.7rem !important;
}

.carousel-indicators li {
  width: 3px !important;
}

.card-title {
  margin-right: 0.3rem;
}
