@import "../../styles//partials/variables";
@import "../../../src/styles/partials/breakpoints";

.card {
  //background-color: rgba(0, 0, 0, 0.4) !important;
  border: 0px transparent solid;
  &__image {
    width: 100% !important;
  }
  &__body-container {
    @include desktop {
      display: flex;
      width: 100%;
    }
  }
  &__image-container {
    @include desktop {
      width: 55%;
    }
  }
  &__tools {
    display: flex;
    align-items: center;
  }
  &__link {
    font-size: 1.6rem;
  }
  &__tool {
    font-size: 2rem;
    margin-right: 0.3rem;
  }
  &__icon {
    margin-right: 0.5rem;
    &:hover {
      color: rgba(255, 255, 255, 0.5);
      transform: scale(1.1);
    }
  }
  &__heroku {
    width: 30px;
    height: 30px;
    border-radius: 0.5rem;
    background-color: white;
  }
}
.card-body {
  @include desktop {
    width: 45%;
  }
}

a {
  color: $white;
}

.carousel-indicators li {
  width: 3px !important;
}

.card-title {
  margin-right: 0.3rem;
}

.card-header {
  @include tablet {
    font-size: 2rem;
  }
}
